.form-message {
  color: red;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 1440px) { /* laptop */
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
  }

  .form-group input select {
    width: 100px;
  }

}

@media screen and (max-width: 768px) { /* tablet */
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 300px;
  }

  .form-group input select {
    width: 100px;
  }

}

@media screen and (max-width: 480px) { /* phone */
  .form-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 200px;
  }

  .form-group input select {
    width: 100px;
  }

}
