$text-white: #fff;
$text-black: #232323;

/* Color Theme Swatches in Hex */
$BAUHAUS-App-Branding-1-hex: #BF1F2C;
$BAUHAUS-App-Branding-2-hex: #0367A6;
$BAUHAUS-App-Branding-3-hex: #BF9039;
$BAUHAUS-App-Branding-4-hex: #BF1B1B;
$BAUHAUS-App-Branding-5-hex: #D9D9D9;


$success: #5cb85c;
$success-light: #dff0d8;
$success-dark: #4cae4c;

$danger: #d9534f;
$danger-light: #f2dede;
$danger-dark: #d43f3a;

$warning: #f0ad4e;
$warning-light: #fcf8e3;
$warning-dark: #eea236;

$info: #5bc0de;
$info-light: #d9edf7;
$info-dark: #46b8da;

$disabled: #999999;
