@import "./colors";

.modal {

  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;

  &-header {
    h3 {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  &-content {
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: row;
    align-items: center;
    justify-items: left;
  }

  &-footer {
    display: grid;
    grid-gap: 1rem;
    grid-auto-flow: column;
    align-items: center;
    justify-items: left;
  }

  &-system-message {
    place-self: center;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
