<div class="editor-body">
  <div class="editor-header">
    <h3>task editor</h3>
    <p>Current task priority: {{data.todoData.taskSeverety}}</p>
  </div>
  <form [formGroup]="editForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" value="{{data.todoData['taskName']}}" formControlName="taskName" >
      <label for="taskDescription">Description</label>
      <input class="form-control" id="taskDescription" value="{{data.todoData['taskDescription']}}" formControlName="taskDescription" >
      <label for="taskSeverity">Severity</label>
      <select id="taskSeverity" name="taskSeverity" formControlName="taskSeverety">
        <option *ngFor="let severity of taskSeverety" [value]="severity">{{severity}}</option>
      </select>
      <div class="form-actionArea">
        <button type="submit" class="submit-btn" (click)="onEditSubmit()">Save change</button>
        <button type="button" class="abort-btn" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
