<div class="editor-body">
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title">
      <label for="taskDescription">Description</label>
      <input class="form-control" id="taskDescription">
      <label for="taskSeverity">Severity</label>
      <select id="taskSeverity" name="taskSeverity">
        <option *ngFor="let severity of taskSeverety" [value]="severity">{{severity}}</option>
      </select>
      <div class="form-actionArea">
        <button type="submit" class="submit-btn" (click)="onEditSubmit()">Save change</button>
        <button type="button" class="abort-btn" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
