<div class="modal">
  <div class="modal-header">
    <h3>Todo Editor</h3>
  </div>
  <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
    <div class="modal-content">
      <label for="title">Task:</label>
      <input type="text" class="form-control" id="title" formControlName="title"
             required>
      <p *ngIf="editForm.controls['title'].errors?.['required']">You have to specify a task name</p>
      <label for="description">Description:</label>
      <input class="form-control" id="description"
             formControlName="description">
      <p *ngIf="editForm.controls['description'].errors?.['maxlength']">Description is too long</p>
      <label for="severity">Importance:</label>
      <select id="severity" name="severity" formControlName="severity" required>
        <option *ngFor="let severity of severity" [value]="severity">{{ severity }}</option>
      </select>
      <p *ngIf="editForm.controls['severity'].errors?.['required']">You have to specify a task severity</p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn-success" [disabled]="!editForm.valid">Save</button>
      <button type="button" class="btn-info" (click)="onCancel()">Cancel</button>
    </div>
    <div class="modal-system-message">
      <p *ngIf="editForm.invalid && editForm.touched">Please correct the errors in the form.</p>
      <p *ngIf="isLoading">Submitting form...</p>
    </div>
  </form>
</div>
