<header>
  <nav class="nav">
    <span>
      Angular todo
    </span>
    <ol class="nav-main">
      <li *ngFor="let link of mainMenu">
        <a [href]=link.path>{{ link.label }}</a>
      </li>
    </ol>
    <ol class="nav-side">
      <li>
        <a routerLink="login">Login</a>
      </li>
      <li>
        <a routerLink="register">Register</a>
      </li>
      <li>
        <a routerLink="account">Account</a>
      </li>
      <li>
        <a>Logout</a>
      </li>
    </ol>
  </nav>
</header>
