.task-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 2px solid rgba(94, 94, 94, 1);
  border-radius: 5px;
  margin: 20px;
  transition: all 0.4s ease-in-out;

  &:hover {
    background: rgba(94, 94, 94, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

}

.task-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  justify-content: space-evenly;
}

.task-content p {
  padding: 10px;
}

.task-completed {
  @extend .task-body;
  background: rgba(0, 200, 0, 0.1);
  border: 2px solid rgba(0, 200, 0, 1);

  &:hover {
    background: rgba(0, 200, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 200, 0, 0.5);
  }
}

@media screen and (max-width: 1440px) { /* laptop */

  .task-content {
    margin-left: 15px;
  }

  .task-actionArea {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
  }

  .task-actionArea button {
    margin-right: 25px;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) { /* tablet */

  .task-content {
    margin-left: 5px;
    font-size: 11px;
  }

  .task-actionArea {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
  }

  .task-actionArea button {
    margin-right: 5px;
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) { /* phone */

  .task-content {
    margin-left: 3px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    text-wrap: normal;
  }

  .task-actionArea {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
  }

  .task-actionArea button {
    margin-right: 5px;
    font-size: 8px;
  }

}
