.main-app {
  display: flex;
  flex-direction: column;
  max-width: clamp(300px, 50%, 1201px);
  border-radius: 10px;
  margin: 80px auto 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  background: #ffffff;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
}

.app-header {
  text-align: center;
}

.main-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.todo-list {
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 1440px) { /* laptop */
  .main-app {
    width: 600px;
  }
}
