<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">

  <label for="title">Task:
    <input id="title" formControlName="title" required>
  </label>

  <label for="description">Description:
    <input id="description" formControlName="description">
  </label>

  <label for="severity">Importance:
    <select id="severity" formControlName="severity" required>
      <option value="">Chose severity</option>
      <option *ngFor="let severity of severity" [value]="severity">{{ severity }}</option>
    </select>
  </label>
  <button class="btn-success" [disabled]="!todoForm.valid">Add to list</button>
</form>

<div class="form-message">
  <p *ngIf="todoForm.get('severity').hasError('required')">you have to specify a task name</p>
  <p *ngIf="todoForm.get('severity').hasError('required')">you have to specify a task severity</p>
  <p *ngIf="todoForm.get('description').hasError('maxlength')">Description is too long</p>
</div>
